     <div class="row"><!--NavBar-->
            <div class="globeNavbar">
                  <div class="col-xs-4">
                        <a href="/" class="globeNavbarBrand text-left">Globe</a>
                  </div><!--/col-xs-4 -->
                  <div class="col-xs-4 text-center">
                        <form class="inline-nav-form" action="/search/" method="POST">
                              <i class="fa fa-search"></i> <input type="text" class="globe-navbar-form" placeholder="Search">
                        </form>
                  </div><!--/col-xs-4 -->
                  <div class="col-xs-4 text-right">
                        <a href="#accountsModal" class="globeNavbarItem text-right"><i class="fa fa-user"></i></a>
                  </div><!--/col-xs-4 -->
          </div><!--/navbar-->
      </div><!--/row-->