{# declare the profile variables, post variables are not set because they are declared via loop later in the page #}
      {% set userName = rowsForProfile['Forename']   ~ " " ~ rowsForProfile['Surname']  %}
      {% set user = rowsForProfile['Username'] %}
      {% set userBio = rowsForProfile['Bio'] %}
      {% set userLoc = rowsForProfile['Country'] %}
      {{ userHasPosts }}

<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        {% if userHasControl == 1%}
            <title>Project Globe: Your Profile</title>
        {% endif %}
         <title>Project Globe: {{ userName }}'s Profile</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!--Custom CSS -->
    <link href="/static/css/styles.css" rel="stylesheet">
      <!-- Font Awesome -->
        <link href="/static/css/font-awesome.min.css" rel="stylesheet">
        {% if userHasControl == 1%}
        <!--remodal-->
        <link href="/static/css/remodal.css" rel="stylesheet">
      <link href="/static/css/remodal-default-theme.css" rel="stylesheet">
        {% endif %}
        
  </head>
<body>
            <div class="row"><!--NavBar-->
            <div class="globeNavbar">
                  <div class="col-xs-4">
                        <a href="/" class="globeNavbarBrand text-left">Globe</a>
                  </div><!--/col-xs-4 -->
                  <div class="col-xs-4 text-center">
                       <a href="/search/">
                              <i class="fa fa-search search"></i>
                        </a>
                  </div><!--/col-xs-4 -->
                  <div class="col-xs-4 text-right">
                        <a href="#accountsModal" class="globeNavbarItem text-right"><i class="fa fa-user"></i></a>
                  </div><!--/col-xs-4 -->
          </div><!--/navbar-->
      </div><!--/row-->
      
<section class="profile-header">
      <div class="profile-background-header" style="background-repeat: no-repeat; background: url(/static/user-uploads/{{user}}/profile/cover-pic.jpg)">
             {% if userHasControl == 1%}
                  <div class="pull-right">
                        <a href="#0" data-remodal-target="updateBGPic" class="change-label">Edit</a>
                  </div>
            {% endif %}
      </div>
      <img class="profile-img center-block block-center img-circle" src="/static/user-uploads/{{user}}/profile/profile-pic.jpg">
      {% if userHasControl == 1%}
       <div class="center-block block-center text-center profile-label-cta">
            <a href="#0" data-remodal-target="updateProfilePicModal" class="profile-label"><i class="fa fa-camera" aria-hidden="true" aria-label="edit profile picture"></i></a>
      </div>
      {% endif %}
      <h1 class="profile-name">{{ userName }}</h1>
      {% if userHasControl == 1%}
            <div class="container">
                  <div class="row">
                        <div class="col-xs-4 col-xs-offset-4"> 
                              <form class="profile-loc" method="post" action="/profile/update/loc">
                                    <input type="text" class="form-control" value="{{ userLoc }}" name="userCountry">
                                    <input type="submit" class="glbButton" value="Update">
                              </form>
                        </div>
                  </div>
            </div>
     {% else %}
            <h3 class="profile-loc"><i class="fa fa-map-marker"></i> {{ userLoc }}</h3>
      {% endif %}
</section>

<section id="profile-bio" class="m-t-1">
      <div class="container">
            <h2 class="profile-heading">About</h2>
            {% if userHasControl == 1%}
                  <form class="profile-bio-update" action="/profile/update/bio" method="post">
                         <p>Edit Your Bio</p>
                        <textarea cols="98" class="profile-bio" name="userBio">{{ userBio }}</textarea>
                        <br />
                        <input type="submit" class="glbButton" value="Update">
                  </form>
            {% else %}
                  <p  class="profile-bio-text">{{ userBio }}</p>
            {% endif %}
      </div>
</section>

{# check how many posts the user has first #}
<section id="profile-img-canvas" class="m-t-1">
      <div class="container">
             <h2 class="profile-heading">Images Posted</h2>
             <div class="row img-canvas custom-padding">
                  {# display the posts #}
                   {% if rowsForPosts %}
                        {% for post in rowsForPosts %}
                              {# images for each post are set dynamically #}
                              {% set userImagePath = "/static/user-uploads/" ~ user ~ "/posts/" ~ post['Post_ID'] ~ "-pic.jpg" %}
                              <div class="col-xs-6 col-sm-4">
                                    <img class="profile-img-tile" src="{{ userImagePath }}">
                              </div>
                        {% endfor%}
                        {% else %}
                                <p>User Hasn't posted anything :(</p>
                  {% endif %}
            </div>
      </div>
</section>
      
{% if userHasControl == 1%}
<div class="remodal" data-remodal-id="updateProfilePicModal"  action="updateprofilepic" method="post">
      <button data-remodal-action="close" class="remodal-close"></button>
      <h2 class="text-center">Update Profile Picture</h2>
      <img src="/static/user-uploads/{{user}}//profile/profile-pic.jpg" class="center-block img-responsive img-circle" alt="{{userForename}}'s Profile Picture">
      <form class="modal-form" action="/profile/update/pic" method="POST" id="updateProfilePicForm" enctype="multipart/form-data">
            <div class="form-group file-btn-wrapper">
                  <input type="file" class="fileButton center-block" name="updateProfilePic" accept="image/jpeg" id="updateProfilePic">
                  <a href="#0" onClick="submitFormProfilePic();" class="glbButton">Update</a>
            </div>
      </form>
</div> <!--/remodal-->
      
<div class="remodal" data-remodal-id="updateBGPic">
      <button data-remodal-action="close" class="remodal-close"></button>
      <h2 class="text-center">Update Cover Photo</h2>
      <form class="modal-form" action="/profile/update/bg" method="post" id="updateCover" enctype="multipart/form-data">
            <div class="input-group center-block">
                  <input type="file" class="fileButton" accept="image/jpeg" name="coverPhoto" accept="img/jpeg">
            </div>
            <a href="#0" onClick="submitBGPic();" class="glbButton">Update</a>
      </form>
</div> <!--/remodal-->
{% endif %}
      
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
      
      {% if userHasControl == 1%}
      <!--remodal JS --> 
      <script src="/static/js/remodal.min.js"></script>

<script>
      function submitFormProfilePic(){
            $('#updateProfilePicForm').submit();
      }
      function submitBGPic(){
            $('#updateCover').submit();
      }
</script>
{% endif %}
  </body>
</html>